@keyframes title-grow {
    0% {
        transform: scale(0.9) rotate(9deg);
    }
    50% {
        transform: scale(1.25) rotate(9deg);
    }
    100% {
        transform: scale(0.9) rotate(9deg);
    }
}
@keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }

  @keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}
@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #ffffff, 0 0 20px #fff, 0 0 30px #e6db00, 0 0 40px #e6bc00, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ffe44d, 0 0 40px #ffc44d, 0 0 50px #ffdb4d, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }
.glow {
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
#esc{
    color:gray;
    display: inline-block;
    transform: rotate(-10deg);
    animation-iteration-count: infinite;
    margin: 26px;
    animation: title-grow 3s infinite alternate ease-in-out;

}

button:visited {
    animation: wiggle 2s linear infinite;
}

.select-button {
    width:60%;
    height:25%;
    text-shadow:1px 1px 0 #444;
    font-size: 25px;
}

